In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('../data/raw/DataAnalyst.csv')

In [58]:
f = df.drop('Unnamed: 0',axis=1)

In [59]:
# f = f[['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
#        'Company Name', 'Location', 'Industry', 'Sector', 'Revenue', 'Easy Apply']]

In [60]:
f.columns = map(str.lower,f.columns)

In [61]:
f.columns = f.columns.str.replace(' ','_')

In [62]:
f[~f['salary_estimate'].str.contains('Glassdoor est.')]

,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,easy_apply
2149,Configuration/Data Management Analyst III,-1,Job Description\nPosition Title: Configuration...,4.4,Protingent\n4.4,"Kent, WA","Bellevue, WA",51 to 200 employees,2001,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,-1

In [63]:
f = f.drop(2149)

In [64]:
f['salary_estimate'] = f['salary_estimate'].str.replace('\(Glassdoor est.\)','')

In [65]:
f['salary_estimate'] = f['salary_estimate'].str.replace('$','').str.replace('K','000')

In [66]:
f['low_salary'] = f['salary_estimate'].str.split('-').str.get(0)
f['high_salary'] = f['salary_estimate'].str.split('-').str.get(1)

In [67]:
f.drop('salary_estimate',axis=1,inplace=True)

In [68]:
f['low_salary']  = pd.to_numeric(f['low_salary'] )

In [69]:
f['high_salary']  = pd.to_numeric(f['high_salary'] )

In [70]:
f['mid_salary'] = ( f['low_salary'] + f['low_salary'] )/2

In [71]:
# f = f[['job_title', 'low_salary',
#     'mid_salary','high_salary',
#    'job_description', 'rating', 'company_name', 'location',
#      'easy_apply', ]]

In [72]:
#create job_id column that matches index to keep track of job allowing later merges of different views
f = f.reset_index()

f.rename(columns={'index':'job_id'},inplace=True)

In [73]:
f['city'] = f['location'].str.split(', ').str.get(0)
f['state'] = f['location'].str.split(', ').str.get(-1)

In [74]:
f

,job_id,job_title,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,easy_apply,low_salary,high_salary,mid_salary,city,state
0,0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,37000,66000,37000.0,New York,NY
1,1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,37000,66000,37000.0,New York,NY
2,2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,37000,66000,37000.0,New York,NY
3,3,Data Analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,37000,66000,37000.0,New York,NY
4,4,Reporting Data Analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,37000,66000,37000.0,New York,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,2248,RQS - IHHA - 201900004460 -1q Data Security An...,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,78000,104000,78000.0,Denver,CO
2248,2249,Senior Data Analyst (Corporate Audit),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,78000,104000,78000.0,Centennial,CO
2249,2250,"Technical Business Analyst (SQL, Data analytic...","Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,78000,104000,78000.0,Denver,CO
2250,2251,"Data Analyst 3, Customer Experience",Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,78000,104000,78000.0,Centennial,CO
2251,2252,Senior Quality Data Analyst,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,78000,104000,78000.0,Broomfield,CO

In [82]:
f = f.drop('location',axis=1)

KeyError: "['location'] not found in axis"

In [83]:
f

,job_title,job_description,rating,company_name,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,easy_apply,low_salary,high_salary,mid_salary,city,state
0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,37000,66000,37000.0,New York,NY
1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,37000,66000,37000.0,New York,NY
2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,37000,66000,37000.0,New York,NY
3,Data Analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,37000,66000,37000.0,New York,NY
4,Reporting Data Analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,37000,66000,37000.0,New York,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,RQS - IHHA - 201900004460 -1q Data Security An...,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,78000,104000,78000.0,Denver,CO
2248,Senior Data Analyst (Corporate Audit),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics,"Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,78000,104000,78000.0,Centennial,CO
2249,"Technical Business Analyst (SQL, Data analytic...","Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,-1,-1,-1,-1,-1,-1,-1,-1,-1,78000,104000,78000.0,Denver,CO
2250,"Data Analyst 3, Customer Experience",Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services,"West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,78000,104000,78000.0,Centennial,CO
2251,Senior Quality Data Analyst,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health,"Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,78000,104000,78000.0,Broomfield,CO

In [84]:
f = f.drop('job_id',axis=True)

KeyError: "['job_id'] not found in axis"

In [78]:
f['company_name'] = f['company_name'].str.split('\n').str.get(0)

In [85]:
f

,job_title,job_description,rating,company_name,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,easy_apply,low_salary,high_salary,mid_salary,city,state
0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,37000,66000,37000.0,New York,NY
1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,37000,66000,37000.0,New York,NY
2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,37000,66000,37000.0,New York,NY
3,Data Analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,37000,66000,37000.0,New York,NY
4,Reporting Data Analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,37000,66000,37000.0,New York,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,RQS - IHHA - 201900004460 -1q Data Security An...,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,78000,104000,78000.0,Denver,CO
2248,Senior Data Analyst (Corporate Audit),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics,"Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,78000,104000,78000.0,Centennial,CO
2249,"Technical Business Analyst (SQL, Data analytic...","Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,-1,-1,-1,-1,-1,-1,-1,-1,-1,78000,104000,78000.0,Denver,CO
2250,"Data Analyst 3, Customer Experience",Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services,"West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,78000,104000,78000.0,Centennial,CO
2251,Senior Quality Data Analyst,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health,"Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,78000,104000,78000.0,Broomfield,CO

In [87]:
f.columns

Index(['job_title', 'job_description', 'rating', 'company_name',
       'headquarters', 'size', 'founded', 'type_of_ownership', 'industry',
       'sector', 'revenue', 'competitors', 'easy_apply', 'low_salary',
       'high_salary', 'mid_salary', 'city', 'state'],
      dtype='object')

In [86]:
f.to_pickle('../data/interim/data_analyst.pkl')