In [1]:
import pandas as pd

In [2]:
pd.set_option('max_rows',4)

In [3]:
from clean_data import *

In [4]:
df = import_csv('../data/raw/datascientist.csv')

In [5]:
df = df.reset_index().rename(columns = {'index':'job_id'})

In [6]:
f = fix_salary(df)

could not convert to numeric

In [7]:
f['high_salary'].unique()

array(['181000 ', '140000 ', '147000 ', '124000 ', '121000 ', '210000 ',
       '254000 ', '152000 ', '171000 ', '139000 ', '141000 ', '119000 ',
       '175000 ', '164000 ', '180000 ', '122000 ', '218000 ', '125000 ',
       '208000 ', '105000 ', '143000 ', '72000 ', '75000 ', '184000 ',
       '53 Per Hour', '80000 ', '130000 ', '56000 ', '81000 ', '174000 ',
       '109000 ', '123000 ', '73000 ', '59000 ', '144000 ', '82000 ',
       '87000 ', '71000 ', '117000 ', '217000 ', '97000 ', '136000 ',
       '26 Per Hour', '151000 ', '159000 ', '104000 ', '156000 ',
       '111000 ', '101000 ', '173000 ', '166000 ', '100000 ', '74000 ',
       '83000 ', '106000 ', '237000 ', '154000 ', '89000 ', '92000 ',
       '91000 ', '76000 ', '27 Per Hour', '146000 ', '165000 ', '69000 ',
       '129000 ', '211000 ', '149000 ', '127000 ', '178000 ', '169000 ',
       '112000 ', '78000 ', '98000 ', '79000 ', '102000 ', '172000 ',
       '250000(Employer est.)', '214000 ', '188000 ', '176000 ',
       '192000 ', '225000 ', '179000 ', '68000 ', '129000(Employer est.)',
       '66000 ', '113000 ', '110000 ', '185000 ', '94000 ', '88000 ',
       '155000 ', '84000 ', '103000 ', '163000 ', '160000 ', '86000 '],
      dtype=object)

In [8]:
f['high_salary'] = f['high_salary'].str.replace('\(Employer est.\)','')

In [9]:
to_drop = f[f['high_salary'].str.contains('Per')].index

In [ ]:
#number of part time hourly positions to drop

In [11]:
len(to_drop)

21

In [12]:
#drop hourly jobs
f = f.drop(to_drop,axis=0)

In [13]:
f['low_salary'] = pd.to_numeric(f['low_salary'])
f['high_salary'] = pd.to_numeric(f['high_salary'])

In [14]:
f['mid_salary'] = (f['low_salary'] + f['low_salary']) / 2

In [15]:
f = fix_rest(f)

In [16]:
f.columns

Index(['job_id', 'job_title', 'job_description', 'rating', 'company_name',
       'headquarters', 'size', 'founded', 'type_of_ownership', 'industry',
       'sector', 'revenue', 'competitors', 'easy_apply', 'low_salary',
       'high_salary', 'mid_salary', 'city', 'state'],
      dtype='object')

In [17]:
f

,job_id,job_title,job_description,rating,company_name,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,easy_apply,low_salary,high_salary,mid_salary,city,state
0,0,Senior Data Scientist,"ABOUT HOPPER\n\nAt Hopper, weâ€™re on a mission ...",3.5,Hopper,"Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,111000,181000,111000.0,New York,NY
1,1,"Data Scientist, Product Analytics","At Noom, we use scientifically proven methods ...",4.5,Noom US,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,111000,181000,111000.0,New York,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,3907,Security Analytics Data Engineer,The Security Analytics Data Engineer will inte...,4.0,Data Resource Technologies,"Omaha, NE",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,-1,55000,112000,55000.0,Dublin,OH
3908,3908,Patient Safety Physician or Safety Scientist -...,"Help us transform patients' lives.\nAt UCB, we...",3.7,UCB,"Brussel, Belgium",5001 to 10000 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,-1,55000,112000,55000.0,Slough,OH

In [18]:
f.to_pickle('../data/interim/data_scientist.pkl')